<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="myheader">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Header Fragment</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <script defer type="text/javascript"
          th:src="@{/js/bootstrap.min.js}"></script>
  <script defer type="text/javascript"
          th:src="@{/js/popper.min.js}"></script>
</head>
</html>
