<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Navbar Fragment</title>
</head>
<body>
<nav th:fragment="mynavbar"
     class="py-3 navbar navbar-expand-lg auto-hiding-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../static/images/logo.jpg"
           th:src="@{/images/logo.jpg}" th:width="50" th:height="50"
           class="logo"
           alt="logo"/>Software House
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
